*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
 font-variation-settings: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

/* .visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} */

@supports (font-variation-settings: normal) {
  .page {
    font-family: 'RobotoFlex';
  }
}

.page {
  font-family: RobotoFlex;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  min-height: 124px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
}

.logo {
  max-width: 100px;
}

.header__controls {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.button {
  font-size: 16px;
  font-weight: 400;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  border: 1px solid rgba(217, 217, 217, 1);
}

.log-in {
  background-color: rgba(24, 144, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.cart {
  background-color: transparent;
  color: rgba(89, 89, 89, 1);
}

.content {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
  padding: 0 120px;
}

.hero {
  background-color: rgba(255, 241, 184, 1);
  background-image: url(/images/pizza.png);
  background-position: right;
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;  
}

.hero__txt {
  height: 163px;
  width: 545px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  line-height: 1.17;
  padding-inline-start: 71px;
  color: rgba(48, 44, 52, 1);
}

.txt-title {
  font-size: 39px;
  font-weight: 700;
  white-space: pre-wrap;
}

.txt-subtitle {
  font-size: 24px;
  font-weight: 400;
}

.restaurants {
  margin-block-start: 8px;
}

.hz {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 134px;
  align-items: center;
}

.hz__title {
  font-size: 36px;
  font-weight: 700;
}

.site-search {
  width: 306px;
  position: relative;
  display: flex;
  align-items: center;
}

.site-search input[type="search"] {
  width: 100%;
  padding: 5px 12px 5px 40px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.search__icon {
  position: absolute;
  left: 10px;
}

.restaurants__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 384px);
  justify-content: center;
  gap: 24px;
  padding-block-end: 90px;
}

.card {
  background-color: rgba(255, 255, 255, 1);
}

.card__img {
  width: 100%;
}

.card__description {
  padding: 20px 23px 35px;
}

.card__description-title {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.name {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
}

.time-container {
  border-radius: 2px;
  background-color: rgba(38, 38, 38, 1);
  height: 22px;
}

.time {
  color: rgba(255, 255, 255, 1);
  padding: 1px 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.66;
}

.card__description-info {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.77;
  display: flex;
  align-items: center;
  gap: 10px;
}

.stars {
  color: rgba(255, 193, 7, 1);
}

.star-img {
  background-color: transparent;
  border: none;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(140, 140, 140, 1);
  padding-inline-start: 26px;
}

.circle {
  background-color: rgba(140, 140, 140, 1);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}








.footer {
  padding: 0 120px;
  min-height: 157px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__content {
  display: flex;
  align-items: center;
  gap: 36px;
}

.menu__list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.socials__list {
  display: flex;
  align-items: center;
  gap: 21px;
  height: 25px;
}
